.flex{
    display:flex;
}
.flex-column{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
.space-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}
.cancel-container{
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.text-center{
    text-align: center;
}

.gap-20px{
    gap: 50px;
}
.confirm-button{
    background-color: rgb(109, 3, 3);
    color: aliceblue;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 1px 2px black;
    padding: 10px;
}
.cancel-button{
    background-color:navy;
    color: aliceblue;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 1px 2px black;
    padding: 10px;
}