<header>
    <img src="../../../../../assets/TrainLogo.png" alt="logo">
    <h1>Indian Railways</h1>
    <p><a routerLink="/">Home</a> > Search By Train Number</p>
</header>
<div class="form-container">
    <form [formGroup]="searchByTrainNumberForm">
        <mat-form-field appearance="outline">
            <mat-label>Train Number</mat-label>
            <input matInput type="text" id="trainNumber" formControlName="trainNumber" name="trainNumber">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit"
            (click)="getTrain()"><mat-icon>search</mat-icon></button>
    </form>
</div>
<div class="main-content-container">
    <div *ngIf="trainVisible">
        <mat-card>
            <mat-card-content>
                <ul>
                    <li class="card-heading">{{trains[0].trainNumber}} - {{trains[0].trainName}}</li>
                    <li class="card-subHeading">
                        <p>From: {{trains[0].stationFrom}}</p> <mat-icon>trending_flat</mat-icon>
                        <p>To: {{trains[0].stationTo}}</p>
                    </li>
                    <div class="availability-container">
                        <li>Availability on</li>
                        <div class="availability-items-container">
                            <div class="availability-items">
                                <li>Mon</li>
                                <li *ngIf="trains[0].trainRunsOnMon === 'Y'"><mat-icon style="color: rgb(10, 218, 10);">done</mat-icon></li>
                                <li *ngIf="trains[0].trainRunsOnMon === 'N'"><mat-icon style="color: rgb(237, 9, 9);">close</mat-icon></li>
                            </div>
                            <div class="availability-items">
                                <li>Tue</li>
                                <li *ngIf="trains[0].trainRunsOnTue === 'Y'"><mat-icon style="color: rgb(10, 218, 10);">done</mat-icon></li>
                                <li *ngIf="trains[0].trainRunsOnTue === 'N'"><mat-icon style="color: rgb(237, 9, 9);">close</mat-icon></li>
                            </div>
                            <div class="availability-items">
                                <li>Wed</li>
                                <li *ngIf="trains[0].trainRunsOnWed === 'Y'"><mat-icon style="color: rgb(10, 218, 10);">done</mat-icon></li>
                                <li *ngIf="trains[0].trainRunsOnWed === 'N'"><mat-icon style="color: rgb(237, 9, 9);">close</mat-icon></li>
                            </div>
                            <div class="availability-items">
                                <li>Thu</li>
                                <li *ngIf="trains[0].trainRunsOnThu === 'Y'"><mat-icon style="color: rgb(10, 218, 10);">done</mat-icon></li>
                                <li *ngIf="trains[0].trainRunsOnThu === 'N'"><mat-icon style="color: rgb(237, 9, 9);">close</mat-icon></li>
                            </div>
                            <div class="availability-items">
                                <li>Fri</li>
                                <li *ngIf="trains[0].trainRunsOnFri === 'Y'"><mat-icon style="color: rgb(10, 218, 10);">done</mat-icon></li>
                                <li *ngIf="trains[0].trainRunsOnFri === 'N'"><mat-icon style="color: rgb(237, 9, 9);">close</mat-icon></li>
                            </div>
                            <div class="availability-items">
                                <li>Sat</li>
                                <li *ngIf="trains[0].trainRunsOnSat === 'Y'"><mat-icon style="color: rgb(10, 218, 10);">done</mat-icon></li>
                                <li *ngIf="trains[0].trainRunsOnSat === 'N'"><mat-icon style="color: rgb(237, 9, 9);">close</mat-icon></li>
                            </div>
                            <div class="availability-items">
                                <li>Sun</li>
                                <li *ngIf="trains[0].trainRunsOnSun === 'Y'"><mat-icon style="color: rgb(10, 218, 10);">done</mat-icon></li>
                                <li *ngIf="trains[0].trainRunsOnSun === 'N'"><mat-icon style="color: rgb(237, 9, 9);">close</mat-icon></li>
                            </div>
                        </div>
                    </div>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<app-footer></app-footer>